* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: solid white 1px; */
  background-color: black;
  color: pink;
}

body {
  height: fit-content;
  overflow-x: hidden;
  position: static;
}
.navigation {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  z-index: 11;
  border: solid pink 1px;
}

.nav-btn-container {
  width: 700px;
  display: flex;
  justify-content: center;
}

.nav-btn {
  background-color: transparent;
  border: solid black 1px;
  cursor: pointer;
  height: 50px;
  width: 100px;
}

.dropdown-content-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.dropdown-title {
  padding: 8px;
  padding-left: 12px;
}

.dropdown-content {
  position: absolute;
  border: solid pink 1px;
  border-top: solid black 0px;
  height: 100vh;
  width: 800px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 10;
}

.dropdown-head {
  display: flex;
  justify-content: space-between;
}

.close-dropdown {
  padding: 12px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: solid black 1px;
}

.close-dropdown:hover {
  background-color: pink;
  color: black;
}

/* Image slideshow */
.slideshow-container {
  position: absolute;
  padding-top: 24px;
  width: 800px;
  height: 100vh;
}
img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block; */
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.dot-container {
  display: flex;
  justify-content: center;
}
